.title-wish-first{
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
.title-wish{
    color: white;
    font-weight: lighter;
    font-size: larger;
}
.title-container{
    padding: 10px;
}
.card{
    width: 100%;
}
.g-3{
    gap: 5px;
}
.pt-3{
    padding-top: 12px;
}