section{
    margin: auto;
}
.gifts{
    width: 350px;
    height: 70px;
}
#dSort{
    place-items: center;
}
#dSecond{
    display: none;
}
#dThird{
    display: none;
}
#dFourth{
    display: none;
}
.msgLimit{
    color: rgb(37, 22, 112);
    font-weight: lighter;
    padding-left: 5px;
}

@media (max-width: 768px) {
    section {
        overflow-y: auto;
    }

}